<main class="index">
    <header class="masthead d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="card col-sm-6 mx-auto shadow text-center">
                    <div class="card-body">
                        <h1 class="mb-4">{{ appInfo.name}}</h1>
                        <h3><em>Store your favorite links</em></h3>
                    </div>
                    <div class="m-4">
                        <a href="/signin" class="btn btn-primary w-50">Let's get Started</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
</main>