body {
    background: beige;
    font-family: "Oswald", sans-serif;
    overflow: auto;
    height: 100vh;
}

.index {
    height: 90vh;
}

.index a {
    color: white;
}

.masthead {
    /* display: flex; 
    width: 100%; */
    height: 100%;
    background: url("/img/background-img.webp");
    background-position: center center;
    background-repeat: no-repeat;
}

.masthead h1 {
    color: red;
    margin: 0;
    padding: 0;
}

.card {
    width: 15rem;
    background-color: lightcyan;
    color: black;
}

#card-delete p {
    font-size: 1.6rem;
}

@media (max-width: 550px) {
    #card-delete h1 {
        font-size: 1.8rem;
    }
    #card-delete h3 {
        font-size: 1.4rem;
        font-style: italic;
        font-weight: bold;
    }

    #card-delete p {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .masthead h1 {
        font-size: 4.2rem;
    }
}
